.git
.gitignore
.env.example
README.md
node_modules
vendor
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
bootstrap/cache/*
.phpunit.result.cache
docker-compose.yml
Dockerfile
.editorconfig
.dockerignore
certbot/
nginx.conf
deploy.sh
init-letsencrypt.sh
